.main_category {
    width: 100%;
    cursor: default;
}

.wallpaper_category {
    width: 100%;
    min-height: 280px;
    max-height: 280px;
}

.wallpaper_category > img {
    width: 100%;
    min-height: 280px;
    max-height: 280px;
}

.categories_container {
    width: 100%;
    padding: 0 8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    bottom: 250px;
}

.categories_container > h1 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}