.App {
  background-color: #fff;
  color: #202332;
}

.section-banner {
  width: 100%;
  height: auto;
  padding: 4rem 2rem;
  background-color: #202332ED;
}

.section-products {
  width: 100%;
  height: auto;
  padding: 2rem 3rem;
}

.section-categories {
  width: 100%;
  padding: 2rem 0;
}

@media (max-width: 1199px) {
  .section-banner {
    padding: 4rem 0;
  }
}