.App {
  background-color: #fff;
  color: var(--black-font-color);
}

.section-banner {
  width: 100%;
  height: auto;
  padding: 4rem 2rem;
  background-color: var(--black-color);
}

.section-products {
  width: 100%;
  height: auto;
  padding: 2rem 3rem;
}

.section-categories {
  width: 100%;
  padding: 2rem 0;
}

.section-description {
  width: 100%;
  padding: 2rem 0;
  background-color: #F7F7F7;
  color: var(--black-font-color);
}

.app-footer {
  width: 100%;
  color: var(--black-font-color);
}

@media (max-width: 1199px) {
  .section-banner {
    padding: 4rem 0;
  }
}

@media (max-width: 435px) {
  .section-products {
    padding: 2rem 0.4rem;
  }
}

@media (max-width: 375px) {
  .section-products {
    padding: 2rem 0;
  }
}